@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Common Section */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.common-head-title {
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.common-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
}

.primary-button {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 32.25px;
    border: none;
}

.common-word-design {
    color: #E55473;
}

/* Header Section */
#head {
    padding-top: 37.5px;
    background: rgba(229, 84, 115, 0.10);
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72.75px;
}

.head-container .container-column .container-content {
    width: 100%;
    max-width: 531px;
}

.head-container .container-column .container-content .head-title {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.head-container .container-column .container-content * {
    margin-bottom: 24px;
}

.head-container .container-column img {
    width: 100%;
    max-width: 476.25px;
}

/* Featured Section */
#featured {
    padding-top: 133.5px;
    padding-bottom: 96px;
}

.container .featured-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container .featured-content * {
    margin-bottom: 18px;
}

.container .featured-content .featured-description {
    width: 100%;
    max-width: 445.5px;
}

.container .featured-display {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.container .featured-display .display-flower {
    width: 100%;
    max-width: 348px;
    text-align: center;
}

.container .featured-display .display-flower .display-flower-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 403.5px;
}

.container .featured-display .display-flower .display-flower-img1 img {
    width: 100%;
    max-width: 232.5px;
    height: 100%;
    max-height: 321px;
    padding: 82.5px 58.5px 0 57px;
}

.container .featured-display .display-flower .display-flower-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 403.5px;
}

.container .featured-display .display-flower .display-flower-img2 img {
    width: 100%;
    max-width: 232.5px;
    height: 100%;
    max-height: 277.5px;
    padding: 87.75px 35.25px 38.25px;
}

.container .featured-display .display-flower .display-flower-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 403.5px;
}

.container .featured-display .display-flower .display-flower-img3 img {
    width: 100%;
    max-width: 232.5px;
    height: 100%;
    max-height: 353.25px;
    padding: 50.25px 56.25px 0;
}

.container .featured-display .display-flower .image-title {
    margin-top: 24px;
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.25px;
    text-decoration-line: underline;
}

.container .featured-service {
    height: 240px;
    margin-top: 96px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container .featured-service .service-column .service-description {
    margin-top: 18px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.25px;
}

/* Highlighted Section */
#highlighted {
    padding-top: 75px;
    padding-bottom: 75px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

#highlighted .highlighted-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#highlighted .highlighted-container .highlighted-content {
    text-align: center;
}

#highlighted .highlighted-container .highlighted-content p {
    width: 100%;
    max-width: 445px;
    margin: 18px 0 24px;
}

#highlighted .highlighted-container .highlighted-img img {
    width: 100%;
    max-width: 238px;
    object-fit: cover;
}

/* Instagram Section */
#instagram {
    padding: 96px 0;
}

#instagram .instagram-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instagram .instagram-container .instagram-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#instagram .instagram-container .instagram-content p {
    width: 100%;
    max-width: 445px;
    margin: 18px 0 36px;
}

#instagram .instagram-container .instagram-img {
    display: flex;
    gap: 18px;
}

#instagram .instagram-container .instagram-img .img-div img {
    width: 100%;
    max-width: 256px;
    object-fit: cover;
}

/* Latest Deals */
#instagram .instagram-container .latest-deals {
    background-image: url('../images/Rectangle9.png');
    width: 100%;
    max-width: 1440px;
    height: 449px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
    margin-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.latest-deals .latest-deals-content {
    text-align: center;
    margin-bottom: 36px;
}

.latest-deals .latest-deals-input {
    display: flex;
    gap: 12px;
}

.latest-deals .latest-deals-input input {
    width: 525px;
    border-radius: 6px;
    background: #FFF;
    border: none;
    padding-left: 16px;
}

/* Footer Section */
#foot {
    background: #111010;
    padding: 96px 0;
}

#foot .foot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#foot .foot-container .foot-head {
    color: #FFF;
    font-size: 36px;
    font-weight: 800;
}

#foot .foot-container .foot-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    max-width: 468px;
    margin: 18px 0 24px;
}

#foot .foot-container .foot-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 400;
}